* {
    margin: 0px;
    padding: 0px;
 }

 body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }

header {
    background-color: #6096B4;
    color: #EEE9DA;
    font-size: 25px;
    width: 1440px;
    height: 100px;
    padding: 15px;
}

.escola{
    background-color: #93BFCF ;
    width: 1440px;
    height: 300px;
    justify-content: space-around; 
    display:flex;
}

.escola-itens{
    font-size: 36px;
    margin: 100px;
    padding: 20px;
    display: inline-block;
    color: #0E0667;   
}

.galeria {
    background-color: #BDCDD6;
    color: #0B5279;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
}

.galeria-fotos1 {
    width: 15%;
    height: 15%;

}

.galeria-fotos2 {
    width: 25%;
    height: 35%;
}

.galeria-titulo {
    padding-top: 30px;
    font-size: 36px;
}

.rodape {
    background-color: #EEE9DA;
    height: 20px;
    font-size: 20px;
    color:#4499C8;
    display: inline-block;
    padding: 15px;

}
